*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Teko";
}

.app{
    position: relative;
    margin: 0 auto;
    width: 324px;
    overflow: hidden;
}

.menu{
    position: relative;
    width: 324px;
    height: 50px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    background: #666;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu .toggle-mode{
    position: relative;
    margin-left: 8px;
    font-size: 16px;
    background: #fcb700;
    width: 60px;
    color: white;
    height: 30px;
    border: 1px solid black;
    cursor: pointer;
}

.menu .toggle-mode::after{
    content: "";
    position: absolute;
    top: 50%;
    transition: all ease 0.3s;
    transform: translateY(-50%);
    right: 0;
    width: 28px;
    height: 28px;
    background: white;
}

.menu .toggle-mode.night::after{
    right: 100%;
    transform: translate(100%, -50%);
}

.menu .toggle-mode.night{
    background: #333;
}

.menu .mode-day{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-left: 4px;
}

.menu .mode-night{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-right: 4px;
}

.menu-icon{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    cursor: pointer;
    margin-right: 8px;
}

canvas{
    border: 2px solid black;
    margin: 0 auto;
    display: block;
}

.settings{
    position: absolute;
    transition: all ease 0.7s;
    transform: translateX(100%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(222,216,149);
    background: radial-gradient(circle, #ded895 0%, #fdc736 98%);
    color: white;
    padding: 0 30px;
    border: 2px solid black;
    user-select: none;
    opacity: 0.7;
}

.settings .close{
    position: absolute;
    top: 16px;
    right: 16px;
    width: 40px;
    height: 40px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform ease 0.5s;
    transform-origin: center center;
}

.settings .close:hover{
    transform: rotate(90deg);
}

.settings .title{
    margin-top: 40px;
    font-size: 40px;
    text-align: center;
}

.settings .sub-title{
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.settings .levels,
.settings .models{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settings .model{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: 3px solid white;
    cursor: pointer;
    background-color: white;
    transition: transform ease 0.3s;
}

.settings .model:hover{
    transform: translateY(-10px);
}

.settings .model .model-image{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 2700%;
}

.settings .model.active{
    border: 3px solid #e86100;
}

.settings .level{
    border: 2px solid white;
    transition: opacity ease 0.3s;
}

.settings .level:not(.active):hover{
    opacity: 0.8;
}

.settings .level.active{
    border: 2px solid black;
}

.settings .level.active .btn-level{
    background: #e86100;
    border: 2px solid white;
    color: white;
}

.settings .level .btn-level{
    padding: 6px 14px 4px 13px;
    background: white;
    color: #e86100;
    border: 2px solid black;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    font-family: "Teko";
    line-height: 16px;
    font-size: 18px;
    cursor: pointer;
}

.settings .submit{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 36px;
    outline: none;
    border: 2px solid black;
    border-radius: 10px;
    background: linear-gradient(0, #ebecec 50%, #fafafa 50%);
    margin: 60px auto 30px;
    cursor: pointer;
}

.settings .submit i{
    color: #00a747;
    font-size: 24px;
}